<div class="container mt-4">
  <h2>Book List</h2>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Publisher(s)</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td><span *ngFor="let author of book.author">{{ author.name }}</span> </td>
        <td><span *ngFor="let publisher of book.publisher">{{ publisher.name }}</span> </td>
        <td>{{ book.isbn }}</td>
        <!-- other details... -->
      </tr>
    </tbody>
  </table>
</div>
